/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure full viewport height */
}

header {
    background-color: #00334e;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
}

/* Navigation Styles */
nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
}

nav a:hover {
    background-color: #006080;
    border-radius: 5px;
}

/* Hero Section with Background Image */
/* Hero Section with Background Image */
.hero-section {
    background-image: url('https://images.pond5.com/global-blue-world-map-loop-073615038_prevstill.jpeg');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    height: 400px; /* Set desired height for the hero section */
    margin-top: 40px; /* Space between header and image section */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
}

.hero-section h1 {
    font-size: 48px;
    margin-bottom: 20px;
}


.hero-section .learn-more-button {
    display: inline-block; /* Ensures the button only takes up as much width as its content */
    padding: 20px 20px;
    font-size: 18px;
    color: white;
    background-color: #ff9800;
    text-decoration: none;
    border-radius: 30px;
    text-transform: uppercase;
    cursor: pointer;
    max-width: 200px; /* Optional: Set a max-width to keep it contained */
    margin: 0 auto; /* Center align the button within the hero section */
}

.hero-section .learn-more-button:hover {
    background-color: #e68a00;
}


/* Donate Banner Section */
.donate-banner {
    text-align: center;
    margin-top: 50px; /* Add spacing below the hero section */
}

.donate-button {
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    color: black;
    text-transform: uppercase;
    border: 2px solid black;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.donate-button:hover {
    background-color: #005580;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}

/* Footer Styles */
footer {
    background-color: #00334e;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: auto; /* Pushes the footer to the end of the page */
}
